<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Mana Base Calculator</title>
    <style>
        h3 {
            text-align: center;
            color: yellow
        }

        /* Internal CSS styles specific to the header */
        #animated-heading {
            position: relative;
            animation: slideInFromLeft 2s ease;
        }

        .submit-button {
            background-color: #000066(255, 255, 255);
            color: #000066;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 4px;


        }

        p {
            text-align: center;
        }

        @keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(0);
            }
        }

        h2 {
            text-align: center;
            color: yellow
        }

        p {
            color: yellow
        }

        body {
            background: linear-gradient(to right, #000066, #0000AA, #0000FF, #0000AA, #000066);
            background-size: 500% 100%;
            animation: gradientAnimation 5s ease 1;
            font-family: "Fantasy", cursive;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }

            100% {
                background-position: 100% 50%;
            }
        }

        input {
            width: 100%;
        }

        label {
            color: yellow
        }

        div.form {
            display: block;
            text-align: center;
        }

        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }

        footer {
            text-align: center;
            color: yellow
        }
    </style>
</head>

<body>