<!DOCTYPE html>
<html>
<head>
  <title>Basic Form</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Basic Form</h1>
    <%- body %>
  </div>
</body>
</html>